:root{
    --Azul-pastel:  #B0C1D9 ;
    --Gris-Azulado-Oscuro: #3B4B59;
    --Azul-Grisaceo: #8EA8BF ;
    --Beige-Suave: #D9BFA9 ;
    --Negro: #0D0D0D ; 
    --Beige-Gris: #f6f4f3;
    --Blanco: #ffffff;
}

.Fondo{
    min-width: 320px; /* Limita el tamaño mínimo de la pantalla */
    height: 100vh;
    background-image: url(img/Diseño.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

#info{
    grid-column: span 1; /* Ocupará una columna, puedes cambiar a span 2 si quieres más espacio */
    width: 100%;
    margin: 0 auto;
    padding-left: 15%;
    position: relative;
}

.frases{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--Gris-Azulado-Oscuro);
    font-size: clamp(3rem, 5vw, 5rem); /* Adaptativo al tamaño de pantalla */
    margin-top: 10%;
}

.boton{
    background-color: var(--Gris-Azulado-Oscuro);
    color: var(--Blanco);
    font-size: 150%;
    padding: 20px 70px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.boton:hover{
    background-color: var(--Azul-Grisaceo);
}

.boton:active{
    transform: scale(0.9);
}

#logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    height: auto;
    padding-top: 20%;
    
}

.imagen{
    width: 100%;
    margin: 10% auto 50% auto;
}

.imagen2{
    width: 110%;
    margin: 5% auto 50% auto;
}

.texto, .texto1, .texto2{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: var(--Negro);

}

.texto{
    font-size: 300%;
    margin-top: 20%;
}

.texto1{
    font-size: 300%;
}

.texto2{
    font-size: 200%;
}

.contenedorII{
    display: grid;
    grid-template-rows: 1fr auto;
    margin-top: 0;
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.sombraII{
    -webkit-box-shadow: 0px 4px 12px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 4px 12px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 4px 12px 0px rgba(112,112,112,0.54);
    background-color: var(--Azul-Grisaceo);
    padding: 1rem;
}

.contactos{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
}

.imagenU{
    width: 55%;
}

.us{
   padding-top: 5%;
   padding-left: 80%;
     
}

@media screen and (max-width: 1200px){
    .texto, .texto1, .texto2{
        font-size: 180%;
    }

    .texto{
        margin-top: 40%;
    }

    .imagen{
        margin-top: 25%;
    }

    .frases{
        margin-top: 20%;
    }

    .imagenU{
        width: 60%;
    }
}

@media screen and (max-width: 1000px){

    .imagen, .imagen2{
        width: 60%;
        margin: 0 auto;
        padding-top: 5%;
    }

    .imagen2{
        width: 60%;
        padding-bottom: 10%;
        padding-left: 20%;
        padding-right: 20%;
        }

    .texto, .texto1, .texto2{
        font-size: 150%;
    }

    .texto{
        margin-top: 0%;
    }

    #logo{
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0 auto;
        gap: 0px;
    }

    .frases{
        margin-top: 30%;
    }

    .imagenU{
        width: 60%;
    }
}

/* @media screen and (max-width: 1000px){
    
    .imagenU{
        width: 50%;
    }
    
    .us{
       padding-top: 5%;
       padding-left: 80%;
         
    }
} */

/* Estilos para pantallas medianas */
@media screen and (max-width: 768px){
    .contenedor {
        grid-template-columns: 1fr; /
    }
    
    #info {
        padding-left: 10%;
        text-align: center;
        padding: 0%; /* Centrar contenido */
        margin: 0 auto;
    }

    .frases {
        font-size: clamp(2.5rem, 4vw, 4rem); /* Reducir el tamaño de la fuente */
        margin-top: 0%;
        margin-bottom: 0%;

    }

    .boton {
        font-size: 120%; /* Ajustar el tamaño de la fuente */
        padding: 15px 50px; /* Reducir padding */
        margin: 0 auto;
        margin-bottom: 10%;
    }

    #logo {
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 0%;
        gap: 5px;
    }

    .imagen, .imagen2 {
        width: 45%;
        margin: 0 auto;
        padding-top: 2.5%;
        padding-bottom: 0%;
    }

    .imagen2{
        padding-left: 0%;
        padding-right: 0%;
    }

    .texto {
        font-size:150%; /* Ajustar el tamaño del texto */
        text-align: center;
        margin: 0%;
        padding-top: 0%;
    }

    .texto1{
        font-size: 150%;
        text-align: center;
        padding-top: 0%;
        margin-top: 0%;
    
    }

    .texto2{
        text-align: center;
        font-size: 150%;
    }

    .imagenU{
        width: 15%;
    }
    
    .us{
       padding-top: 5%;
       padding-left: 0%;
         
    }

    .contenedor{
        gap: 5px;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px){

    .contenedor {
        grid-template-columns: 1fr;
    }

    #info {
        text-align: center; /* Centrar el contenido */
    }

    .frases {
        font-size: clamp(2rem, 3vw, 3rem); /* Reducir aún más el tamaño de la fuente */
        margin: 0 auto;
    }

    .boton {
        font-size: 100%; /* Ajustar el tamaño de la fuente */
        padding: 10px 30px; /* Reducir padding */
    }

    #logo {
        text-align: center;
        margin: 0 auto;
        gap: 0pxs;
    }

    .imagen, .imagen2 {
        width: 50%;
        margin: 0 auto;
    }

    .texto, .texto1, .preg {
        font-size: 120%;
        text-align: center;
    }

    .texto{
        padding-top: 10%;
    }

    .texto2{
        font-size: 120%;
        text-align: center;
    }

    .contactos{
        margin: 0 auto;
    }

    .imagenU{
        width: 15%;
    }
    
    .us{
       padding-top: 5%;
       padding-left: 0%;
         
    }

}