:root{
    --Azul-pastel:  #B0C1D9 ;
    --Gris-Azulado-Oscuro: #3B4B59;
    --Azul-Grisaceo: #8EA8BF ;
    --Beige-Suave: #D9BFA9 ;
    --Negro: #0D0D0D ; 
    --Beige-Gris: #f6f4f3;
    --Blanco: #ffffff;
}

.Fondo{
    min-width: 320px; 
    height: 100vh;
    background-color: var(--Beige-Gris);
    padding: 5px;
}

.todo{
    display: grid;
    grid-template-columns: 1fr;
}

.contenedor{
    display: grid;
    /* background-color: var(--Azul-pastel); */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0%;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); Ajusta columnas dinámicamente */
    grid-template-columns: 0.9fr 1.1fr;
}

#logo{
    width: 70%;
    height: 100%;
    margin-right: 0%;
    margin-left: 30px;
}

.huella{
    display: grid;
    height: 100%;
    margin-right: 0%;
    margin-top: 2%;
    padding: 0;
    grid-template-columns: 1fr 1fr; /* Puedes ajustar según el contenido */
}

.texto, .texto1, .texto2{
    margin: 2% auto;
    font-family: 'Open Sans', sans-serif;
    color: var(--Negro);
}

.texto{
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Open Sans', sans-serif;
    color: var(--Negro);
    font-size: 180%;
}

.texto1{
    margin-bottom: 0%;
    margin-top: 0px;
    margin-left: 0%;
    font-family: 'Open Sans', sans-serif;
    color: var(--Negro);
    font-size: 180%;
}

.texto2{
    margin-bottom: 0%;
    margin-top: 0px;
    margin-left: 0%;
    font-family: 'Open Sans', sans-serif;
    color: var(--Negro);
    font-size: 120%;
}

.contenedor2{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
}

#info{
    display: grid;
    margin: 10px auto;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}

.menu{
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: var(--Negro);
    font-size: 150%;
    margin-left: 2.5%;
    display: inline-block;
    overflow-wrap: break-word;
    border-radius: 5px;
}

.menu:hover{
    color: var(--Gris-Azulado-Oscuro);
    font-size: 140%;
    font-weight: bold ;
}

.segundo{
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr; /* Puedes ajustar según necesites */
}

.textI{
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr; /* Ajusta el número de columnas según el contenido */
}

.textII{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

.div1{
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: var(--Azul-pastel);
}

.sombraII{
    -webkit-box-shadow: 0px 4px 12px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 4px 12px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 4px 12px 0px rgba(112,112,112,0.54);
    /* background-color: var(--Azul-Grisaceo); */
    padding: 1rem;
}

#logo img, #info a {
    vertical-align: middle;
}

.sep{
    text-align: center;
}

.imagen{
    width: 70%;
    border: 2px;
    margin: 0 auto;
}

.imagen2{
    width: 75%;
    margin-left: 0%; 
    margin-top: 0%;
    border: 2px;
}

.img2{
    margin-left: 10%;
}

.imagen3{
    width: 70%;
    margin-top: 10%;
    margin: 10% auto;
    box-shadow: 1px 1px 30px var(--Gris-Azulado-Oscuro);
}

.imagen4{
    width: 30%;
    margin: 0 auto;
   padding-top: 2.5%;
   padding-left: 35%;
   padding-right: 35%;
}

.inf2{
    font-family: 'Open Sans', sans-serif;
    color: var(--Negro);
    font-size: 120%;
    margin: 10% auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.div2{
    display: grid;
    grid-template-columns: 0.85fr 1fr;
    
}

.imgE{
    width: 10%;
    margin-left: 85%;
    margin-bottom: 5%;
    margin-right: 5%;
}


.enl{
    background-color: var(--Azul-pastel);  
    width: 90%;
    margin-bottom: 5%;
    margin-top: 2.5%;
}

/* ---------------- */
.contR {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--Azul-pastel);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contR .titulo-principal {
    text-align: center;
    font-size: 1.8em;
    color: var(--Gris-Azulado-Oscuro);
    margin-bottom: 10px;
}

.contR .titulo-secundario {
    text-align: center;
    font-size: 1.4em;
    color: var(--Gris-Azulado-Oscuro);
    margin-bottom: 15px;
}

.contR .detalle-recurso {
    background-color: var(--Beige-Gris);
    border: 1px solid var(--Gris-Azulado-Oscuro);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.contR .resumen-recurso {
    font-weight: bold;
    color: var(--Gris-Azulado-Oscuro);
}

.contR .descripcion {
    color: var(--Negro);
    font-size: 1em;
    margin: 5px 0;
}

.contR .info-strong {
    font-weight: bold;
    color: var(--Negro);
}

.contR .enlace-recurso {
    color: var(--Azul-Grisaceo);
    text-decoration: none;
}

.contR .enlace-recurso:hover {
    color: var(--Gris-Azulado-Oscuro);
    text-decoration: underline;
}

@media screen and (max-width: 1500px) {

    #info{
        grid-template-columns: 0.7fr 1.1fr 1.1fr 1.2fr;
    }

    .menu{
        font-size: 140%;
        padding: 0px 15px;
    }

}

@media screen and (max-width: 1150px) {
    .menu{
        font-size: 130%;
        padding: 0px 15px;
    }
}

@media screen and (max-width: 1100px) {
    .menu{
        font-size: 125%;
        padding: 0px 9px;
    }
}

@media screen and (max-width: 1024px) {
    .contenedor {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .segundo {
        grid-template-columns: 1fr;
    }

    .imagen, .imagen2{
        width: 60%;
        margin: 0 auto;
        padding-top: 5%;
    }

    .imagen{
        padding-left: 30%;
    }

    .imagen3{
        width: 50%;
        padding-top: 0%;
        margin: 0 auto;
    }

    .imagen2{
        padding-bottom: 10%;
        padding-right: 20%;
        }

    .imagen4{
        margin-top: 10%;
    }

    .texto, .texto1{
        font-size: 180%;
    }

    .texto2{
        font-size: 120%;
        margin-right: 15%;
    }

    #info {
        padding-right: 0px;
        padding-left: 0px;
    }

    .menu{
        padding: 0px 30px;
        display: grid;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
        border-radius: 5px;
    }

    #logo{
        margin: 0 auto;
    }

    .div1{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 10%;
    }

}


@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .segundo {
        grid-template-columns: 1fr;
    }

    .imagen, .imagen2, .imagen3 {
        width: 70%;
        margin: 0 auto;
    }

    .imagen{
        padding-left: 0%;
    }

    .imagen2{
        width: 55%;
        padding-bottom: 10%;
        padding-left: 0%;
        padding-top: 5%;
        padding-right: 0%;
    }

    .imagen3{
        width: 60%;
    }

    .imagen4{
        margin-top: 10%;
    }


    .texto, .texto1, .preg {
        font-size: 150%;
        margin: 0 auto;
    }

    .texto2{
        font-size: 120%;
        margin-right: 15%;
        margin-left: 15%;
    }

    .boton {
        padding: 12px 40px;
        margin-left: 40%;
        margin-top: 5%;
    }

    #info {
        grid-template-columns: 1fr;
        padding-top: 0px;
        height: 90%;
    }

    .menu{
        padding: 0px 30px;
        display: grid;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
        border-radius: 5px;
    }

    #logo{
        text-align: center;
        margin: 0 auto;
    }

    .huella{
        display: grid;
        height: 100%;
        margin-right: 0%;
        margin-top: 2%;
        padding: 0;
        grid-template-columns: 1fr; /* Puedes ajustar según el contenido */
    }

    .inf2{   
        margin: 10% auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        text-align: justify;
    }

    .div1{
        margin-top: 10%;
    }
}


@media screen and (max-width: 480px) {
    .contenedor {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    #logo {
        width: 50%;
        margin-left: 20px;
        
    }

    .imagen, .imagen2, .imagen3 {
        width: 100%;
        margin: 0 auto;
    }

    .imagen2{
        width: 70%;
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .texto, .texto1, .preg {
        font-size: 120%;
        text-align: center;
    }

    .texto{
        padding-top: 10%;
    }

    .texto2{
        font-size: 100%;
        text-align: center;
    }


    .boton {
        padding: 10px 30px;
        margin-left: 30%;
    }

    #info {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 0%;
        margin: 0 auto;
    }

    .menu{
        display: grid;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
        border-radius: 5px;
        margin: 0 auto;
        font-size: 140%;
    }

    #logo{
        text-align: center;
        margin: 0 auto;
    }

    .huella{
        display: grid;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        grid-template-columns: 1fr; /* Puedes ajustar según el contenido */
    }

    .imagen3{
    
        width: 60%;
        margin-bottom: 20px;
    } 
    
    .inf2{
        font-size: 100%;
    }
}